@model XSIS.Shop.viewModel.OrderItemViewModel


<div class="modal-header">
    <h4 class="modal-title">Add Item</h4>
</div>
<div class="modal-body">
   
    <div class="form-group">
        @Html.LabelFor(model => model.ProductId, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.DropDownList("ProductId", null,"Pilih Produk", htmlAttributes: new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.ProductId, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.Quantity, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.Quantity, new { htmlAttributes = new { @class = "form-control date-picker", @placeholder = "Klik Disini" } })
            @Html.ValidationMessageFor(model => model.Quantity, "", new { @class = "text-danger" })
        </div>
    </div>


</div>
<div class="modal-footer">
    <button type="button" class="btn btn-link">Add to Order</button>
    <button type="button" class="btn btn-link" data-dismiss="modal">
        Close
    </button>
</div>


